/* Mixins */

@mixin text($size, $l-height: null, $weight: null, $color: null) {
	font-size: $size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}

// Media queries
@mixin breakpoint($point) {
	@if $point == medium {
		@media (max-width: 900px) { @content; }
	}
}